/* Figma font-weight 510 (an SF Pro variable-font weight) always renders as
   font-weight: 500 in this UI — non-variable webfonts snap intermediate
   weights unpredictably across platforms. */
body {
  --dsw-static-amber-100: rgb(250, 237, 205);
  --dsw-static-amber-400: rgb(229, 177, 45);
  --dsw-static-amber-500: rgb(223, 160, 0);
  --dsw-static-amber-600: rgb(187, 139, 12);
  --dsw-static-amber-900: rgb(116, 96, 35);
  --dsw-static-blue-100: rgb(214, 226, 221);
  --dsw-static-blue-300: rgb(136, 187, 209);
  --dsw-static-blue-400: rgb(97, 168, 203);
  --dsw-static-blue-450: rgb(57, 138, 183);
  --dsw-static-blue-500: rgb(58, 148, 197);
  --dsw-static-blue-50: rgb(234, 236, 224);
  --dsw-static-blue-50p: rgb(230, 234, 223);
  --dsw-static-blue-600: rgb(55, 129, 169);
  --dsw-static-blue-75: rgb(224, 231, 222);
  --dsw-static-blue-800: rgb(52, 105, 135);
  --dsw-static-blue-900: rgb(92, 106, 114);
  --dsw-static-blue-950: rgb(49, 82, 100);
  --dsw-static-deepseek-100: rgb(212, 229, 229);
  --dsw-static-deepseek-200: rgb(189, 217, 224);
  --dsw-static-deepseek-300: rgb(154, 199, 217);
  --dsw-static-deepseek-400: rgb(87, 163, 202);
  --dsw-static-deepseek-450: rgb(68, 153, 198);
  --dsw-static-deepseek-500: rgb(58, 148, 197);
  --dsw-static-deepseek-50: rgb(233, 240, 233);
  --dsw-static-deepseek-600: rgb(55, 129, 169);
  --dsw-static-deepseek-700-delete: rgb(53, 115, 149);
  --dsw-static-deepseek-800: rgb(52, 100, 128);
  --dsw-static-deepseek-900: rgb(50, 86, 107);
  --dsw-static-green-100: rgb(240, 241, 210);
  --dsw-static-green-400: rgb(147, 178, 89);
  --dsw-static-green-500: rgb(141, 161, 1);
  --dsw-static-green-900: rgb(83, 96, 36);
  --dsw-static-neutral-00: rgb(253, 246, 227);
  --dsw-static-neutral-1000: rgb(45, 53, 59);
  --dsw-static-neutral-100: rgb(230, 226, 204);
  --dsw-static-neutral-150: rgb(224, 220, 199);
  --dsw-static-neutral-200: rgb(206, 208, 187);
  --dsw-static-neutral-250: rgb(198, 201, 181);
  --dsw-static-neutral-300: rgb(189, 195, 175);
  --dsw-static-neutral-400: rgb(166, 176, 160);
  --dsw-static-neutral-500: rgb(147, 159, 145);
  --dsw-static-neutral-50: rgb(239, 235, 212);
  --dsw-static-neutral-550: rgb(130, 145, 129);
  --dsw-static-neutral-600: rgb(112, 128, 137);
  --dsw-static-neutral-700: rgb(86, 99, 95);
  --dsw-static-neutral-800: rgb(79, 88, 94);
  --dsw-static-neutral-850: rgb(71, 82, 88);
  --dsw-static-neutral-900: rgb(52, 63, 68);
  --dsw-static-neutral-bluish-00: rgb(253, 246, 227);
  --dsw-static-neutral-bluish-1000: rgb(92, 106, 114);
  --dsw-static-neutral-bluish-100: rgb(230, 226, 204);
  --dsw-static-neutral-bluish-150: rgb(224, 220, 199);
  --dsw-static-neutral-bluish-200: rgb(206, 208, 187);
  --dsw-static-neutral-bluish-300: rgb(189, 195, 175);
  --dsw-static-neutral-bluish-400: rgb(166, 176, 160);
  --dsw-static-neutral-bluish-500: rgb(147, 159, 145);
  --dsw-static-neutral-bluish-50: rgb(244, 240, 217);
  --dsw-static-neutral-bluish-600: rgb(130, 145, 129);
  --dsw-static-neutral-bluish-60: rgb(242, 238, 214);
  --dsw-static-neutral-bluish-700: rgb(112, 128, 137);
  --dsw-static-neutral-bluish-750: rgb(86, 99, 95);
  --dsw-static-neutral-bluish-75: rgb(239, 235, 212);
  --dsw-static-neutral-bluish-800: rgb(79, 88, 94);
  --dsw-static-neutral-bluish-850: rgb(71, 82, 88);
  --dsw-static-neutral-bluish-875: rgb(61, 72, 77);
  --dsw-static-neutral-bluish-900: rgb(52, 63, 68);
  --dsw-static-neutral-bluish-950: rgb(92, 106, 114);
  --dsw-static-red-100: rgb(253, 227, 218);
  --dsw-static-red-400: rgb(249, 109, 104);
  --dsw-static-red-500: rgb(248, 93, 89);
  --dsw-static-red-50: rgb(253, 236, 222);
  --dsw-static-red-600: rgb(248, 85, 82);
  --dsw-static-red-900: rgb(126, 66, 68);
}

body[data-ds-dark-theme] {
  --dsw-static-amber-100: rgb(188, 165, 120);
  --dsw-static-amber-400: rgb(235, 210, 160);
  --dsw-static-amber-500: rgb(235, 203, 139);
  --dsw-static-amber-600: rgb(222, 169, 126);
  --dsw-static-amber-900: rgb(93, 90, 83);
  --dsw-static-blue-100: rgb(100, 123, 148);
  --dsw-static-blue-300: rgb(136, 192, 208);
  --dsw-static-blue-400: rgb(129, 161, 193);
  --dsw-static-blue-450: rgb(112, 145, 182);
  --dsw-static-blue-500: rgb(94, 129, 172);
  --dsw-static-blue-50: rgb(117, 145, 174);
  --dsw-static-blue-50p: rgb(112, 139, 167);
  --dsw-static-blue-600: rgb(84, 114, 150);
  --dsw-static-blue-75: rgb(108, 134, 161);
  --dsw-static-blue-800: rgb(72, 94, 123);
  --dsw-static-blue-900: rgb(65, 83, 107);
  --dsw-static-blue-950: rgb(60, 75, 96);
  --dsw-static-deepseek-100: rgb(114, 157, 172);
  --dsw-static-deepseek-200: rgb(104, 143, 158);
  --dsw-static-deepseek-300: rgb(96, 129, 143);
  --dsw-static-deepseek-400: rgb(136, 192, 208);
  --dsw-static-deepseek-450: rgb(136, 192, 208);
  --dsw-static-deepseek-500: rgb(129, 161, 193);
  --dsw-static-deepseek-50: rgb(122, 171, 186);
  --dsw-static-deepseek-600: rgb(94, 129, 172);
  --dsw-static-deepseek-700-delete: rgb(80, 106, 140);
  --dsw-static-deepseek-800: rgb(60, 75, 96);
  --dsw-static-deepseek-900: rgb(53, 64, 80);
  --dsw-static-green-100: rgb(134, 156, 121);
  --dsw-static-green-400: rgb(178, 200, 161);
  --dsw-static-green-500: rgb(163, 190, 140);
  --dsw-static-green-900: rgb(75, 86, 83);
  --dsw-static-neutral-00: rgb(236, 239, 244);
  --dsw-static-neutral-1000: rgb(46, 52, 64);
  --dsw-static-neutral-100: rgb(229, 233, 240);
  --dsw-static-neutral-150: rgb(222, 228, 236);
  --dsw-static-neutral-200: rgb(216, 222, 233);
  --dsw-static-neutral-250: rgb(202, 208, 220);
  --dsw-static-neutral-300: rgb(188, 195, 208);
  --dsw-static-neutral-400: rgb(160, 168, 182);
  --dsw-static-neutral-500: rgb(132, 140, 157);
  --dsw-static-neutral-50: rgb(236, 239, 244);
  --dsw-static-neutral-550: rgb(111, 120, 138);
  --dsw-static-neutral-600: rgb(97, 106, 125);
  --dsw-static-neutral-700: rgb(76, 86, 106);
  --dsw-static-neutral-800: rgb(67, 76, 94);
  --dsw-static-neutral-850: rgb(63, 71, 88);
  --dsw-static-neutral-900: rgb(46, 52, 64);
  --dsw-static-neutral-bluish-00: rgb(236, 239, 244);
  --dsw-static-neutral-bluish-1000: rgb(46, 52, 64);
  --dsw-static-neutral-bluish-100: rgb(229, 233, 240);
  --dsw-static-neutral-bluish-150: rgb(222, 228, 236);
  --dsw-static-neutral-bluish-200: rgb(216, 222, 233);
  --dsw-static-neutral-bluish-300: rgb(216, 222, 233);
  --dsw-static-neutral-bluish-400: rgb(174, 181, 195);
  --dsw-static-neutral-bluish-500: rgb(146, 154, 170);
  --dsw-static-neutral-bluish-50: rgb(236, 239, 244);
  --dsw-static-neutral-bluish-600: rgb(125, 134, 150);
  --dsw-static-neutral-bluish-60: rgb(229, 233, 240);
  --dsw-static-neutral-bluish-700: rgb(97, 106, 125);
  --dsw-static-neutral-bluish-750: rgb(76, 86, 106);
  --dsw-static-neutral-bluish-75: rgb(229, 233, 240);
  --dsw-static-neutral-bluish-800: rgb(67, 76, 94);
  --dsw-static-neutral-bluish-850: rgb(63, 71, 88);
  --dsw-static-neutral-bluish-875: rgb(59, 66, 82);
  --dsw-static-neutral-bluish-900: rgb(51, 58, 71);
  --dsw-static-neutral-bluish-950: rgb(46, 52, 64);
  --dsw-static-red-100: rgb(155, 86, 96);
  --dsw-static-red-400: rgb(191, 97, 106);
  --dsw-static-red-500: rgb(176, 92, 102);
  --dsw-static-red-50: rgb(169, 90, 100);
  --dsw-static-red-600: rgb(162, 88, 98);
  --dsw-static-red-900: rgb(82, 63, 74);
}

body {
  --dsw-alias-bg-base: var(--dsw-static-neutral-bluish-00);
  --dsw-alias-bg-layer-1: var(--dsw-static-neutral-bluish-00);
  --dsw-alias-bg-layer-2: var(--dsw-static-neutral-bluish-00);
  --dsw-alias-bg-layer-3: var(--dsw-static-neutral-bluish-00);
  --dsw-alias-bg-mask-1: rgba(45, 53, 59, 0.24);
  --dsw-alias-bg-mask-2: rgba(45, 53, 59, 0.12);
  --dsw-alias-bg-mask-3: rgba(45, 53, 59, 0.48);
  --dsw-alias-bg-mask-photo: rgba(45, 53, 59, 0.88);
  --dsw-alias-bg-mask-drop: rgba(253, 246, 227, 0.7);
  --dsw-alias-bg-module-platform: var(--dsw-static-neutral-bluish-60);
  --dsw-alias-bg-multi-select: var(--dsw-static-neutral-bluish-60);
  --dsw-alias-bg-overlay: var(--dsw-static-neutral-bluish-150);
  --dsw-alias-bg-skeleton: rgba(92, 106, 114, 0.06);
  --dsw-alias-border-inverted2: rgba(92, 106, 114, 0);
  --dsw-alias-border-inverted: rgba(92, 106, 114, 0);
  --dsw-alias-border-l1: rgba(92, 106, 114, 0.06);
  --dsw-alias-border-l2-darkmode-thin: rgba(92, 106, 114, 0.12);
  --dsw-alias-border-l2: rgba(92, 106, 114, 0.12);
  --dsw-alias-border-l3: rgba(92, 106, 114, 0.14);
  --dsw-alias-border-l4: rgba(92, 106, 114, 0.18);
  --dsw-alias-brand-primary-invert: var(--dsw-static-neutral-bluish-1000);
  --dsw-alias-brand-primary-new-colorprimary-new-color: rgb(58, 148, 197);
  --dsw-alias-brand-primary: var(--dsw-static-neutral-bluish-1000);
  --dsw-alias-brand-text: var(--dsw-static-neutral-bluish-1000);
  --dsw-alias-button-contrast-fill: var(--dsw-static-neutral-bluish-700);
  --dsw-alias-button-elevated-fill: var(--dsw-static-neutral-bluish-00);
  --dsw-alias-button-floating-fill: var(--dsw-static-neutral-bluish-00);
  --dsw-alias-button-floating-hover: var(--dsw-static-neutral-bluish-75);
  --dsw-alias-button-ghost-active-border: var(--dsw-static-neutral-bluish-500);
  --dsw-alias-button-ghost-active-fill: var(--dsw-static-neutral-bluish-100);
  --dsw-alias-button-ghost-active-hover: var(--dsw-static-neutral-bluish-150);
  --dsw-alias-button-info-fill: var(--dsw-static-deepseek-500);
  --dsw-alias-button-info-hover: var(--dsw-static-deepseek-400);
  --dsw-alias-button-primary-dimmed: var(--dsw-static-neutral-bluish-100);
  --dsw-alias-button-primary-fill: var(--dsw-alias-brand-primary);
  --dsw-alias-button-primary-hover: var(--dsw-static-neutral-bluish-750);
  --dsw-alias-button-tool-bar-fill-invisible: rgba(45, 53, 59, 0.4);
  --dsw-alias-button-tool-bar-fill: rgba(92, 106, 114, 0.55);
  --dsw-alias-button-tool-bar-hover: rgba(92, 106, 114, 0.65);
  --dsw-alias-interactive-bg-active: rgba(92, 106, 114, 0.12);
  --dsw-alias-interactive-bg-hover-accent: rgba(92, 106, 114, 0.16);
  --dsw-alias-interactive-bg-hover-danger: rgba(248, 85, 82, 0.08);
  --dsw-alias-interactive-bg-hover-solid: var(--dsw-static-neutral-bluish-75);
  --dsw-alias-interactive-bg-hover: rgba(92, 106, 114, 0.08);
  --dsw-alias-label-caption: var(--dsw-static-neutral-bluish-400);
  --dsw-alias-label-dimmed: var(--dsw-static-neutral-bluish-200);
  --dsw-alias-label-primary-bluish: var(--dsw-static-blue-900);
  --dsw-alias-label-primary-dimmed: var(--dsw-static-neutral-bluish-950);
  --dsw-alias-label-primary-foreground: var(--dsw-static-neutral-bluish-00);
  --dsw-alias-label-primary-inverted: var(--dsw-static-neutral-bluish-00);
  --dsw-alias-label-primary: var(--dsw-static-neutral-bluish-1000);
  --dsw-alias-label-secondary: var(--dsw-static-neutral-bluish-700);
  --dsw-alias-label-tertiary: var(--dsw-static-neutral-bluish-600);
  --dsw-alias-link: var(--dsw-static-deepseek-500);
  --dsw-alias-markdown-citation: var(--dsw-static-neutral-bluish-100);
  --dsw-alias-markdown-code-block-banner: var(--dsw-static-neutral-bluish-50);
  --dsw-alias-markdown-code-block: var(--dsw-static-neutral-bluish-50);
  --dsw-alias-markdown-code-segment-selected: var(--dsw-static-neutral-bluish-00);
  --dsw-alias-markdown-code-segment-unselected: var(--dsw-static-neutral-bluish-75);
  --dsw-alias-markdown-inline-code: var(--dsw-static-neutral-50);
  --dsw-alias-markdown-placeholder: var(--dsw-static-neutral-bluish-60);
  --dsw-alias-markdown-tag: var(--dsw-static-neutral-bluish-75);
  --dsw-alias-scrollbar-bg-l1: var(--dsw-static-neutral-200);
  --dsw-alias-scrollbar-bg-l2: var(--dsw-static-neutral-200);
  --dsw-alias-scrollbar-hover-l1: var(--dsw-static-neutral-300);
  --dsw-alias-scrollbar-hover-l2: var(--dsw-static-neutral-300);
  --dsw-alias-state-business-primary: var(--dsw-static-deepseek-500);
  --dsw-alias-state-business-tertiary: var(--dsw-static-deepseek-100);
  --dsw-alias-state-error-primary: var(--dsw-static-red-600);
  --dsw-alias-state-error-secondary: var(--dsw-static-red-400);
  --dsw-alias-state-success-primary: var(--dsw-static-green-500);
  --dsw-alias-state-success-secondary: var(--dsw-static-green-400);
  --dsw-alias-state-success-tertiary: var(--dsw-static-green-100);
  --dsw-alias-state-warn-label: var(--dsw-static-amber-600);
  --dsw-alias-state-warn-primary: var(--dsw-static-amber-500);
  --dsw-alias-state-warn-secondary: var(--dsw-static-amber-400);
  --dsw-alias-state-warn-tertiary: var(--dsw-static-amber-100);
  --dsw-alias-toast-bg: var(--dsw-static-neutral-bluish-800);
  --dsw-alias-tooltip-bg: var(--dsw-static-neutral-bluish-850);
  --dsw-specific-bubble-highlight: var(--dsw-static-deepseek-200);
  --dsw-specific-bubble: var(--dsw-static-deepseek-50);
  --dsw-specific-input-major: var(--dsw-static-neutral-bluish-00);
  --dsw-specific-login-input: var(--dsw-static-neutral-bluish-50);
  --dsw-specific-menu: var(--dsw-alias-bg-layer-3);
  --dsw-specific-selector: var(--dsw-static-neutral-bluish-60);
  --dsw-specific-sidebar-fill: var(--dsw-static-neutral-bluish-50);
  --dsw-specific-sidebar-nav-item-active-accent: var(--dsw-static-deepseek-100);
  --dsw-specific-sidebar-nav-item-active: var(--dsw-static-neutral-bluish-100);
  --dsw-specific-sidebar-nav-item-hover: var(--dsw-static-neutral-bluish-75);
  --dsw-specific-tip: var(--dsw-static-neutral-bluish-60);
}

body[data-ds-dark-theme] {
  --dsw-alias-bg-base: var(--dsw-static-neutral-bluish-950);
  --dsw-alias-bg-layer-1: var(--dsw-static-neutral-bluish-875);
  --dsw-alias-bg-layer-2: var(--dsw-static-neutral-bluish-850);
  --dsw-alias-bg-layer-3: var(--dsw-static-neutral-bluish-800);
  --dsw-alias-bg-mask-1: rgba(0, 0, 0, 0.5);
  --dsw-alias-bg-mask-2: rgba(0, 0, 0, 0.2);
  --dsw-alias-bg-mask-3: rgba(0, 0, 0, 0.48);
  --dsw-alias-bg-mask-photo: rgba(0, 0, 0, 0.88);
  --dsw-alias-bg-mask-drop: rgba(46, 52, 64, 0.7);
  --dsw-alias-bg-module-platform: var(--dsw-static-neutral-bluish-800);
  --dsw-alias-bg-multi-select: var(--dsw-static-neutral-850);
  --dsw-alias-bg-overlay: var(--dsw-static-neutral-bluish-700);
  --dsw-alias-bg-skeleton: rgba(216, 222, 233, 0.08);
  --dsw-alias-border-inverted2: rgba(216, 222, 233, 0.08);
  --dsw-alias-border-inverted: rgba(216, 222, 233, 0.06);
  --dsw-alias-border-l1: rgba(216, 222, 233, 0.06);
  --dsw-alias-border-l2-darkmode-thin: rgba(216, 222, 233, 0.06);
  --dsw-alias-border-l2: rgba(216, 222, 233, 0.12);
  --dsw-alias-border-l3: rgba(216, 222, 233, 0.16);
  --dsw-alias-border-l4: rgba(216, 222, 233, 0.2);
  --dsw-alias-brand-primary-invert: var(--dsw-static-neutral-bluish-50);
  --dsw-alias-brand-primary-new-colorprimary-new-color: var(--dsw-static-deepseek-450);
  --dsw-alias-brand-primary: var(--dsw-static-neutral-bluish-50);
  --dsw-alias-brand-text: var(--dsw-static-neutral-bluish-50);
  --dsw-alias-button-contrast-fill: var(--dsw-static-neutral-bluish-50);
  --dsw-alias-button-elevated-fill: var(--dsw-static-neutral-bluish-750);
  --dsw-alias-button-floating-fill: var(--dsw-static-neutral-bluish-850);
  --dsw-alias-button-floating-hover: var(--dsw-static-neutral-bluish-800);
  --dsw-alias-button-ghost-active-border: var(--dsw-static-neutral-bluish-600);
  --dsw-alias-button-ghost-active-fill: var(--dsw-static-neutral-bluish-750);
  --dsw-alias-button-ghost-active-hover: var(--dsw-static-neutral-bluish-700);
  --dsw-alias-button-info-fill: var(--dsw-static-deepseek-400);
  --dsw-alias-button-info-hover: var(--dsw-static-deepseek-500);
  --dsw-alias-button-primary-dimmed: var(--dsw-static-neutral-bluish-750);
  --dsw-alias-button-primary-fill: var(--dsw-alias-brand-primary);
  --dsw-alias-button-primary-hover: var(--dsw-static-neutral-bluish-100);
  --dsw-alias-button-tool-bar-fill-invisible: rgba(46, 52, 64, 0.4);
  --dsw-alias-button-tool-bar-fill: rgba(76, 86, 106, 0.6);
  --dsw-alias-button-tool-bar-hover: rgba(76, 86, 106, 0.75);
  --dsw-alias-interactive-bg-active: rgba(216, 222, 233, 0.14);
  --dsw-alias-interactive-bg-hover-accent: rgba(216, 222, 233, 0.24);
  --dsw-alias-interactive-bg-hover-danger: rgba(191, 97, 106, 0.18);
  --dsw-alias-interactive-bg-hover-solid: var(--dsw-static-neutral-bluish-800);
  --dsw-alias-interactive-bg-hover: rgba(216, 222, 233, 0.08);
  --dsw-alias-label-caption: var(--dsw-static-neutral-bluish-600);
  --dsw-alias-label-dimmed: var(--dsw-static-neutral-bluish-750);
  --dsw-alias-label-primary-bluish: var(--dsw-static-neutral-bluish-50);
  --dsw-alias-label-primary-dimmed: var(--dsw-static-neutral-bluish-100);
  --dsw-alias-label-primary-foreground: var(--dsw-static-neutral-bluish-1000);
  --dsw-alias-label-primary-inverted: var(--dsw-static-neutral-bluish-800);
  --dsw-alias-label-primary: var(--dsw-static-neutral-bluish-50);
  --dsw-alias-label-secondary: var(--dsw-static-neutral-bluish-300);
  --dsw-alias-label-tertiary: var(--dsw-static-neutral-bluish-400);
  --dsw-alias-link: var(--dsw-static-deepseek-400);
  --dsw-alias-markdown-citation: var(--dsw-static-neutral-bluish-800);
  --dsw-alias-markdown-code-block-banner: var(--dsw-static-neutral-bluish-850);
  --dsw-alias-markdown-code-block: var(--dsw-static-neutral-bluish-900);
  --dsw-alias-markdown-code-segment-selected: var(--dsw-static-neutral-bluish-800);
  --dsw-alias-markdown-code-segment-unselected: var(--dsw-static-neutral-bluish-900);
  --dsw-alias-markdown-inline-code: var(--dsw-static-neutral-800);
  --dsw-alias-markdown-placeholder: var(--dsw-static-neutral-bluish-850);
  --dsw-alias-markdown-tag: var(--dsw-static-neutral-bluish-850);
  --dsw-alias-scrollbar-bg-l1: var(--dsw-static-neutral-700);
  --dsw-alias-scrollbar-bg-l2: var(--dsw-static-neutral-600);
  --dsw-alias-scrollbar-hover-l1: var(--dsw-static-neutral-600);
  --dsw-alias-scrollbar-hover-l2: var(--dsw-static-neutral-550);
  --dsw-alias-state-business-primary: var(--dsw-static-deepseek-400);
  --dsw-alias-state-business-tertiary: var(--dsw-static-deepseek-800);
  --dsw-alias-state-error-primary: var(--dsw-static-red-400);
  --dsw-alias-state-error-secondary: var(--dsw-static-red-400);
  --dsw-alias-state-success-primary: var(--dsw-static-green-500);
  --dsw-alias-state-success-secondary: var(--dsw-static-green-400);
  --dsw-alias-state-success-tertiary: var(--dsw-static-green-900);
  --dsw-alias-state-warn-label: var(--dsw-static-amber-600);
  --dsw-alias-state-warn-primary: var(--dsw-static-amber-500);
  --dsw-alias-state-warn-secondary: var(--dsw-static-amber-400);
  --dsw-alias-state-warn-tertiary: var(--dsw-static-amber-900);
  --dsw-alias-toast-bg: var(--dsw-static-neutral-bluish-750);
  --dsw-alias-tooltip-bg: var(--dsw-static-neutral-bluish-750);
  --dsw-specific-bubble-highlight: var(--dsw-static-neutral-bluish-750);
  --dsw-specific-bubble: var(--dsw-static-neutral-bluish-850);
  --dsw-specific-input-major: var(--dsw-static-neutral-bluish-850);
  --dsw-specific-login-input: var(--dsw-static-neutral-bluish-900);
  --dsw-specific-menu: var(--dsw-alias-bg-layer-3);
  --dsw-specific-selector: var(--dsw-static-neutral-bluish-800);
  --dsw-specific-sidebar-fill: var(--dsw-static-neutral-bluish-900);
  --dsw-specific-sidebar-nav-item-active-accent: var(--dsw-static-neutral-bluish-800);
  --dsw-specific-sidebar-nav-item-active: var(--dsw-static-neutral-bluish-750);
  --dsw-specific-sidebar-nav-item-hover: var(--dsw-static-neutral-bluish-850);
  --dsw-specific-tip: var(--dsw-static-neutral-bluish-800);
}
